<h1>Rails Blog<h1>

<% if user_signed_in?%>
    <%= link_to "New Post", new_blog_post_path %>
<%end%>

<% @blog_posts.each do |blog_post| %>
    <div>
        <h3><%= link_to blog_post.title, blog_post %></h3>
        <%if blog_post.draft?%>
        <div class="p-2 rounded bg-gray-300">Draft</div>
        <%end%>
        <%if blog_post.scheduled?%>
        <div class="p-2 rounded bg-blue-300">Scheduled</div>
        <%end%>
        <p><%= blog_post.body %></p>
    </div>
<% end %>