<h1><%= @blog_post.title %></h1>
<%= @blog_post.body %>

<ul>
<li><%= link_to "Edit", edit_blog_post_path(@blog_post) %></li>
<li><%= link_to "Destroy", blog_post_path(@blog_post) , data:{
    turbo_method: :delete,
    turbo_confirm: "Are you sure you want to delete #{@blog_post.title}?"
}%></li>
</ul>